<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PersonDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tsebr\source\repos\CSharpApp\infrostructure\Memory\PersonDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>